.card {
  /* --ion-background-color: #fff; */
  border: 1px solid var(--ion-color-primary);
  width: 300px;
  transform: scale(1);
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: var(--sanble-border-radius);
  border-top-right-radius: var(--sanble-border-radius);
}

.image_skeleton {
  width: 100%;
  height: 200px;
  position: absolute;
}

.content {
  width: 100%;
}

.header {
  padding-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

@media (max-width: 500px) {
  .card {
    width: 95%;
  }
}
