.items_row {
  justify-content: center;
}

.items_col {
  margin: 10px;
}

.items_card_container {
  width: 100%;
  height: 300px;
  border-radius: var(--sanble-border-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.items_card_container:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.items_image_skeleton {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--sanble-border-radius);
}

.items_gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 24%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: var(--sanble-border-radius);
}

.items_card {
  width: 100%;
  height: 100%;
  border-radius: var(--sanble-border-radius);
  position: relative;
  z-index: 100;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.items_price {
  font-size: 15px;
  margin-top: 5px;
  color: #fff;
  font-weight: 500;
}

h2.items_name {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
