.photoModal {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;
}

.photoContainer {
  height: 100%;
}

.photoPicture {
  padding-bottom: 80px;
}

.photoModalSpinner {
  z-index: 1000000;
  border-radius: 0;
}
