.notificationBadge {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--ion-color-primary);
}

.homeContainer {
  margin-top: 70px;
  padding: 30px;
}
