.skeleton {
  border-radius: var(--sanble-border-radius);
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(203, 203, 203, 0.5);
  }
  100% {
    background-color: var(--ion-color-light);
  }
}
