.mainContent::part(background) {
  background-color: #fff;
  transition: all 500ms ease-in-out;
}

.mainContent.showSidebar::part(background) {
  background-color: var(--ion-color-primary);
  transition: all 200ms ease-in-out;
}

.mainContent::part(scroll) {
  overflow: hidden;
}

.mainContainer {
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* overflow: auto; */
  transition: all 400ms ease-in-out;
  z-index: 50;
}

.mainContainer.showSidebar {
  left: 300px;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.mainOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  background-color: rgba(46, 46, 46, 0.3);
  transition: opacity 200ms ease-in-out;
}

.mainOverlay.showSidebar {
  z-index: 100;
  opacity: 100%;
  transition: opacity 500ms ease-in-out;
}

@media (max-width: 768px) {
  .mainContainer.showSidebar {
    left: 200px;
    margin: 25px 0;
    height: calc(100% - 50px);
    border-radius: var(--sanble-border-radius);
    transition: all 400ms ease-in-out;
  }
  .mainOverlay {
    border-radius: var(--sanble-border-radius);
  }
}
