.postForm {
  margin-top: 20px;
}

.postFormInput {
  height: 120px;
  padding-left: 12px;
  padding-right: 12px;
}

.postFormInput::part(native),
.postFormInput textarea {
  height: 120px !important;
}

.postFormFileContainer {
  position: relative;
  min-height: 64px;
  margin-bottom: 20px;
}

.postFormFile {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 5px 15px;
  border-radius: var(--sanble-border-radius);
  border: 2px dashed var(--sanble-gray-color-1);
}

.postFormFileDescription {
  margin-left: 20px;
  padding-right: 40px;
}

.postFormFileDescription p {
  margin: 0;
  color: var(--ion-text-color);
  font-size: 16px;
}

.postFormFileDeleteBtnContainer {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.postFormFileDeleteBtn {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}

.postFormFileDeleteBtn::part(native) {
  width: 30px;
  height: 30px;
}

.postFormFileError {
  font-size: 12px;
  color: var(--ion-color-danger);
}

.postFormFileInfo {
  font-size: 12px;
  color: var(--sanble-gray-color-1);
}

.postFormOldImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: var(--sanble-border-radius);
  margin-right: 10px;
}
