.card {
  /* --ion-background-color: #fff; */
  border: 1px solid var(--ion-color-primary);
  width: 300px;
  transform: scale(1);
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
}

.image_container {
  height: 200px;
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: var(--sanble-border-radius);
  border-top-right-radius: var(--sanble-border-radius);
}

.image_skeleton {
  width: 100%;
  height: 200px;
  position: absolute;
}

.container_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  padding-top: 30px;
}

.stars {
  margin: 5px;
}

.iconStatus {
  font-size: 25px;
  border-radius: 25px;
  color: var(--ion-color-medium);
  margin: 5px;
}

.iconStatus.approved {
  color: var(--ion-color-success);
}

.content {
  width: 100%;
}

.header {
  padding-bottom: 0;

  text-align: center;
}

.subtitle {
  margin-top: 0;
}

.type {
  display: block;
  text-align: center;
  font-weight: 500;
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .card {
    width: 95%;
  }
}
