.star {
  margin-right: 1px;
  color: var(--sanble-gray-color-2);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.star.starFull {
  color: var(--ion-color-primary);
  transition: all 400ms ease-in-out;
}

.star.disable {
  color: var(--ion-color-medium-tint);
  pointer-events: none;
  transition: all 400ms ease-in-out;
}
