.tabbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 30px;
}

.tabbarContainer svg {
  color: var(--ion-color-black);
}

.tabbar {
  width: 90%;
  border-radius: var(--sanble-border-radius);
}

.tabActive {
  color: var(--ion-color-primary) !important;
}
