.carouselTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.slidesItem {
  width: 220px;
  height: 150px;
  transition: all 400ms ease-in-out;
}

@media (min-width: 820) {
  .slidesItem {
    width: 270px;
    transition: all 400ms ease-in-out;
  }
}

@media (min-width: 1024px) {
  .slidesItem {
    height: 200px;
    width: 300px;
    transition: all 400ms ease-in-out;
  }
}

@media (min-width: 1336px) {
  .slidesItem {
    width: 400px;
    transition: all 400ms ease-in-out;
  }
}

@media (min-width: 2000px) {
  .slidesItem {
    width: 550px;
    transition: all 400ms ease-in-out;
  }
}
