.container_btns {
  margin-top: 20px;
}

.container_btns ion-button {
  margin-top: 20px;
}

.welcome_container ion-button {
  margin-top: 30px;
}

.forgotten_password {
  font-size: 14px;
  margin-top: 15px;
}

.invalid_code {
  background-color: var(--ion-color-danger);
  margin-top: 20px;
  padding: 10px;
  border-radius: var(--sanble-border-radius);
  color: #ffffff;
  text-align: center;
}
