.input {
  margin-bottom: 10px;
}

.container_btns {
  margin-top: 30px;
}

.container_btns ion-button {
  margin-top: 20px;
}

.welcome_container {
  text-align: center;
}

.welcome_container ion-button {
  margin-top: 30px;
}
