.standListCard {
  background-color: var(--ion-color-light);
  border-radius: var(--sanble-border-radius);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  height: 130px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.05);
  box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.05);
}

.standListCard .standListCardPicture {
  width: 130px;
}

.standListCard .standListCardImg {
  border-radius: var(--sanble-border-radius);
  width: 130px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.standListCardContent {
  padding: 15px 20px;
  width: calc(100% - 130px);
  display: flex;
  flex-direction: column;
}

.standListCardContent h1 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  max-height: 22px;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.standListCardContent .standListCardSlogan {
  color: var(--sanble-gray-color-2);
  margin-top: 8px;
  font-weight: 500;
  font-size: 13px;
  height: 15px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.standListCard .standListCardBtnFav {
  position: absolute;
  margin: 0;
  bottom: -6px;
  right: 5px;
}

.standListCardLink {
  display: flex;
  width: 100%;
  color: var(--ion-text-color, #000);
}

@media (min-width: 768px) {
  .standListCard {
    margin: 20px;
  }
}

@media (max-width: 380px) {
  .standListCard .standListCardPicture {
    width: 80px;
  }
  .standListCard .standListCardImg {
    width: 80px;
  }
  .standListCardContent {
    width: calc(100% - 80px);
  }
  .standListCardBtnFav {
    bottom: 0 !important;
    right: 0 !important;
    width: 30px;
    height: 30px;
  }
  .standListCardBtnFav::part(native) {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 330px) {
  .standListCard img {
    width: 80px;
  }

  .standListCardContent h1 {
    font-size: 14px;
    height: 16px;
  }
}
