.topBarContainer {
  --background: transparent;
  --padding-top: 30px;
  --padding-bottom: 20px;
  --padding-end: 0;
  --padding-start: 0;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  border-bottom: none;
  transition: all 400ms ease-in-out;
}

.topBarContainer.showSidebar {
  left: 300px;
  transition: all 400ms ease-in-out;
}

.topBarContainer.showSidebar.isCapacitor {
  margin-top: 40px;
  transition: all 400ms ease-in-out;
}

.topBarContainer.isCapacitor {
  --padding-top: 50px;
}

.topBarContainer.sticky {
  --padding-top: 50px;
  --padding-bottom: 5px;
  background: #fff !important;
  margin-top: -20px !important;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.2);
  box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.1);
  transition: all 400ms ease-in-out;
}

.topBarContainer.sticky.isCapacitor {
  --padding-top: 70px;
}

.topBarTitle.sticky.isCapacitor {
  margin-top: 30px;
}

.topBarProgressBar {
  top: 0;
}

.topBarTitle {
  color: var(--ion-color-primary);
  font-family: "Quicksand";
  font-weight: 700;
  padding: 10px 5px;
}

.topBarTitle.isCapacitor {
  margin-top: 15px;
}

.topBarTitleLight {
  color: var(--ion-color-light);
}
.topBarTitleLight.sticky {
  color: var(--ion-color-primary);
}

.topBarStart {
  margin-left: 16px;
  margin-bottom: 3px;
}

.topBarEnd {
  margin-right: 16px;
  margin-bottom: 3px;
}
.topBarEnd svg {
  color: var(--sanble-gray-color-2);
}

.topBarContainer ion-buttons,
.topBarContainer ion-button {
  width: 38px;
  height: 38px;
  border-radius: 38px;
}

.topBarContainer ion-button::part(native) {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  padding: 0;
}

.topBarContainer ion-button::part(native) {
  --background: var(--ion-color-light);
  --color: var(--sanble-gray-color-2);
}

@media (max-width: 768px) {
  .topBarContainer.showSidebar {
    left: 220px;
    top: 25px !important;
    transition: all 400ms ease-in-out;
  }
  .topBarTitle {
    margin-top: 3px;
  }
  .topBarTitle.sticky {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .topBarContainer,
  .topBarContainer.sticky {
    --background: #fff;
    --padding-top: 10px;
    --padding-bottom: 11px;
    margin-top: 0px !important;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
    transition: all 400ms ease-in-out;
  }
  .topBarTitleLight {
    color: var(--ion-color-primary);
  }
  .topBarStart {
    margin-left: 30px;
  }
  .topBarEnd {
    margin-right: 30px;
  }
}
