.tabBarContiner {
  height: 45px;
  width: 100%;
}

.barContainer {
  height: 7px;
  width: 100%;
  background-color: #d6d6d6;
}

.barFill {
  background-color: var(--ion-color-primary);
  width: 50%;
  height: 100%;
  border-radius: var(--sanble-border-radius);
  transition: all 400ms ease-in-out;
}

.barFillRight {
  margin-left: 50%;
  transition: all 400ms ease-in-out;
}
