.tabBarContiner {
  height: 45px;
  width: 100%;
}

.navUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 38px;
}

.navUl .navLi {
  width: 100%;
}

.navLink {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--ion-color-secondary);
  transition: all 400ms ease-in-out;
}

.navLink.linkActive {
  color: var(--ion-color-primary);
  transition: all 400ms ease-in-out;
}

.barContainer {
  height: 7px;
  width: 100%;
  background-color: var(--sanble-gray-color-2);
}

.barFill {
  background-color: var(--ion-color-primary);
  width: 50%;
  height: 100%;
  border-radius: var(--sanble-border-radius);
  transition: all 400ms ease-in-out;
}

.barFillRight {
  margin-left: 50%;
  transition: all 400ms ease-in-out;
}
