.fairListCardSkeleton {
  margin-bottom: 20px;
}

.fairListLoading {
  z-index: 1000;
  align-items: start;
  padding-top: 100px;
  background-color: rgba(46, 46, 46, 0.1);
}

@media (min-width: 768px) {
  .fairListCardSkeleton {
    margin: 20px;
  }
}
