.splashContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
}

.splashLogo {
  width: 93px;
  height: 130px;
  z-index: 100;
}

.splashTitle {
  font-size: 45px;
  font-weight: 700;
  margin-top: 0;
  z-index: 100;
}

.splashSubtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  z-index: 100;
}

.splashOcean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--ion-color-primary);
}

.splashWave {
  background: url("/assets/images/splashWave.svg") repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: splashWaveFrame 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.splashWave:nth-of-type(2) {
  top: -175px;
  animation: splashWaveFrame 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    splashSwellFrame 7s ease -1s infinite;
  opacity: 1;
}

@keyframes splashWaveFrame {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes splashSwellFrame {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
