.fairListCard {
  background-color: var(--ion-color-light);
  border-radius: var(--sanble-border-radius);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  height: 130px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.05);
  box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.05);
}

.fairListCard .fairListCardPicture {
  display: contents;
}

.fairListCard .fairListCardImg {
  border-radius: var(--sanble-border-radius);
  width: 100px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fairListCardContent {
  margin: 15px 20px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.fairListCardContent h1 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  max-height: 22px;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fairListCardContent .fairListCardType {
  color: var(--sanble-gray-color-2);
  font-weight: 500;
  font-size: 13px;
  height: 15px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fairListCardContent .fairListCardDate {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.fairListCardContent .fairListCardDate svg {
  color: var(--ion-text-color, #000);
}

.fairListCardContent .fairListCardDate span {
  color: var(--ion-text-color, #000);
  font-weight: 600;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 5px;
}

.fairListCard .fairListCardBtnFav {
  position: absolute;
  right: 6px;
  bottom: 0;
}

.fairListCardLink {
  display: flex;
  width: 100%;
  color: var(--ion-text-color, #000);
}

@media (min-width: 768px) {
  .fairListCard {
    margin: 20px;
  }
  .fairListCardContent {
    width: cal(100% - 80px);
  }
}

@media (max-width: 380px) {
  .fairListCardBtnFav {
    bottom: -5px;
    width: 30px;
    height: 30px;
  }
  .fairListCardBtnFav::part(native) {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 330px) {
  .fairListCard img {
    width: 80px;
  }

  .fairListCardContent {
    width: cal(100% - 100px);
  }

  .fairListCardContent h1 {
    font-size: 14px;
    height: 16px;
  }
}
