.postList {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.postCard {
  border-radius: var(--sanble-border-radius);
  border: 1px solid var(--sanble-gray-color-1);
  margin-bottom: 20px;
  padding: 10px 20px;
  position: relative;
}

.postCard.postCardSelect {
  border-color: var(--ion-color-primary);
}

.postClose {
  position: absolute;
  right: -3px;
  top: -3px;
}

.postClose::part(native) {
  width: 30px;
  height: 30px;
  padding: 0;
}

.postText {
  font-size: 14px !important;
  margin-bottom: 5px;
  color: var(--ion-text-color) !important;
}

.postDate {
  font-size: 12px !important;
  color: var(--sanble-gray-color-1);
}

.postFileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.postFileContainer img {
  max-width: auto;
  max-height: auto;
  border-radius: var(--sanble-border-radius);
}

.postSpinner {
  margin-top: 30px;
}

.postListModalEditClose {
  position: absolute;
  top: 0;
  right: 0;
}

.postListModalEditContent {
  --padding-top: 10px;
  --padding-bottom: 20px;
  --padding-end: 30px;
  --padding-start: 30px;
}

.postsEmpty {
  margin: 0 !important;
}

.postsEmpty h1 {
  font-size: 16px;
}

@media (min-width: 768px) {
  .postFileContainer img {
    max-width: 500px;
    max-height: 400px;
  }
}
