.homeBarContainer {
  position: fixed;
  bottom: 10px;
  left: 0;
  padding: 0 20px 10px 20px;
  width: 100%;
}

.homeBarList {
  display: flex;
  justify-content: space-evenly;
  border-radius: var(--sanble-border-radius);
  opacity: 1;
  height: 62px;
  transition: opacity 500s ease-in-out;
  border: 1px solid rgba(200, 200, 200, 0.1);
  -webkit-box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.2);
  box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.1);
}

.homeBarList a {
  width: 100%;
  border-radius: var(--sanble-border-radius);
}

.homeBarItem::part(native) {
  --inner-border-width: 0px;
  --padding-end: 0;
  --ion-safe-area-right: 0;
  width: calc(100% - 10px);
  padding: 0;
  margin: 5px;
  height: 52px;
  display: flex;
  border-radius: var(--sanble-border-radius);
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

.homeBarItem.homeBarItemActive::part(native) {
  background-color: var(--ion-color-secondary);
  color: #fff;
  transition: all 300ms ease-in-out;
}

.homeBarItemIcon {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .homeBarContainer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
  }

  .homeBarList {
    width: 400px;
    box-shadow: none;
  }
}
