.photoEditForm {
  margin: 0;
  height: 100%;
}

.photoEditFormSpinner {
  z-index: 9999999;
}

@media (min-width: 768px) {
  .photoEditModal {
    --width: 90%;
    --height: 80%;
  }
}

@media (max-width: 768px) {
  .photoEditForm {
    padding-top: 30px;
  }
}
