.fairListCardSkeleton {
  margin-bottom: 20px;
}

.fairFloatBtn {
  bottom: 120px;
}

@media (min-width: 768px) {
  .fairListCardSkeleton {
    margin: 20px;
  }

  .fairFloatBtn {
    bottom: 100px;
    right: 50px;
  }
}
