.reviewsList {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
}

.reviewsList li {
  width: 100%;
  padding: 15px 20px 3px;
  margin-bottom: 20px;
  border-radius: var(--sanble-border-radius);
  border: 1px solid var(--sanble-gray-color-1);
}

.reviewsList li.myReview {
  border-color: var(--ion-color-primary);
}

.reviewOwnerContainer {
  display: flex;
  align-items: flex-start;
}

.reviewOwnerPhotoContainer {
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

.reviewOwnerPhoto {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.reviewOwnerContainer h6 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  word-break: normal;
}

.reviewOwnerContainer span {
  color: var(--sanble-gray-color-2);
  font-weight: 500;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 5px;
}
