.reviewForm {
  margin-top: 20px;
}

.reviewForm .stars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reviewFormInput {
  height: 120px;
}

.reviewFormInput::part(native),
.reviewFormInput textarea {
  height: 120px !important;
}
