ion-button {
  --border-radius: var(--sanble-border-radius);
  height: 40px;
}

ion-card {
  border-radius: var(--sanble-border-radius);
}

ion-slides {
  height: 100%;
}

ion-slides .swiper-pagination-bullet {
  background: #3a3535;
}
