ion-button {
  --border-radius: var(--sanble-border-radius);
  height: 40px;
}

ion-card {
  border-radius: var(--sanble-border-radius);
}

ion-slides {
  height: 100%;
}

ion-slides .swiper-pagination-bullet {
  background: #3a3535;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}
ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-tab-button .selected {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --min-height: 48px;
}

.text_center {
  text-align: center;
}

/* Animations */
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Fading entrances  */
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
