.noPadding {
  padding: 0px;
}

.card {
  border-radius: var(--sanble-border-radius);
}

.cardContent {
  height: 100px;
}

img.image {
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.colContent {
  text-align: left;
  padding: 5px 10px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: var(--ion-color-black);
  padding: 0;
  margin-top: 3px;
  margin-bottom: 2px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

p.description {
  font-size: 13px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.badgeContainer {
  display: flex;
  margin-top: 5px;
}

.badge {
  font-size: 10px;
}

.badgeIcon {
  margin-right: 3px;
  margin-bottom: 1px;
}

.skeletonImage {
  position: absolute;
  border-radius: 0;
}

.skeletonText {
  color: transparent;
}
