.buttonFav {
  --border-radius: 44px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: 40px;
}
.buttonFav::part(native) {
  width: 40px;
  height: 40px;
}

.buttonFav svg {
  margin-top: 2px;
}
