.homeContainer {
  background-image: url("/assets/images/home/home-wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
}

.homeContent {
  --background: transparent;
  --padding-top: 70px;
  --padding-bottom: 80px;
  --padding-start: 30px;
  --padding-end: 30px;
  transition: all 500s ease-in-out;
}

@media (min-width: 768px) {
  .homeContent {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-start: 30px;
    --padding-end: 30px;
    transition: all 500s ease-in-out;
  }
}
