.homeContainer {
  background-image: url("/assets/images/home/home-wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
}

.homeContent {
  overflow-y: scroll;
  padding: 15px 30px 80px;
  height: 100%;
  transition: all 500s ease-in-out;
}

@media (min-width: 768px) {
  .homeContent {
    height: calc(100% - 72px);
    padding: 15px 30px;
    transition: all 500s ease-in-out;
  }
}
