.newFairContainer {
  padding: 15px 25px;
  overflow-y: auto;
  height: calc(100vh - 62px);
  margin-top: 62px;
}

.newFairNextRow {
  display: flex;
  justify-content: center;
}

.newFairMapModal {
  --width: 100%;
  --height: 100vh;
  --border-radius: 0;
}

@media (max-width: 768px) {
  .newFairContainer {
    overflow-y: auto;
    height: calc(100vh - 91px);
    margin-top: 91px;
  }
}
