.profileGrid {
  padding: 20px;
  max-width: 991px;
}

.profileTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.profileAvatar {
  width: 250px;
  height: 250px;
}

.profileForm {
  width: 100%;
}

.profileCol {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
}

.profileCol.colRight {
  align-items: end;
}

.profileCol.colLeft {
  border-left: 1px solid var(--sanble-gray-color-1);
  align-items: start;
}

.divider {
  border-top: 1px solid var(--sanble-gray-color-1);
  display: block;
  width: 100%;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .profileAvatar {
    width: 200px;
    height: 200px;
  }
  .profileCol {
    align-items: center !important;
    padding: 10px;
  }
  .profileCol.colLeft {
    border: none;
  }
}
