.emptyAlertContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: calc(100% - 80px);
}

.emptyAlertContainer svg {
  color: var(--ion-color-danger);
}
