.standListCardSkeleton {
  margin-bottom: 20px;
}

.standFloatBtn {
  bottom: 120px;
}

@media (min-width: 768px) {
  .standListCardSkeleton {
    margin: 20px;
  }

  .standFloatBtn {
    bottom: 100px;
    right: 50px;
  }
}
