.layoutContent::part(background) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 400ms ease-in-out;
}

.layoutContent.isDesktopContent {
  display: flex;
}

.layoutContent.signinRoute::part(background) {
  background-image: url("/assets/images/auth/signin-wave-1.svg");
  transition: all 1s ease-in-out;
}

.layoutContent.signupRoute::part(background) {
  background-image: url("/assets/images/auth/signup-wave-1.svg");
  transition: all 1s ease-in-out;
}

.layoutContainer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 400ms ease-in-out;
}

.layoutContainer.signinRoute {
  background-image: url("/assets/images/auth/signin-wave-2.svg");
  transition: all 1s ease-in-out;
}

.layoutContainer.signupRoute {
  background-image: url("/assets/images/auth/signup-wave-2.svg");
  transition: all 1s ease-in-out;
}

.logoContainer {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logoImg {
  width: 250px;
}

@media (max-height: 620px) {
  .layoutContainer {
    background-size: cover;
    transition: all 400ms ease-in-out;
  }
}

@media (min-width: 768px) {
  .layoutContainer {
    max-width: 768px;
    margin: 20px auto;
    height: calc(100% - 40px);
    border-radius: var(--sanble-border-radius);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease-in-out;
  }
}
