.layoutContainer::part(background) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 400ms ease-in-out;
}

.layoutContainer.signinRoute::part(background) {
  background-image: url("/assets/images/auth/signin-wave-1.svg");
  transition: all 1s ease-in-out;
}

.layoutContainer.signupRoute::part(background) {
  background-image: url("/assets/images/auth/signup-wave-1.svg");
  transition: all 1s ease-in-out;
}

.layoutWave {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}

.layoutWave.signinRoute {
  background-image: url("/assets/images/auth/signin-wave-2.svg");
  transition: all 1s ease-in-out;
}

.layoutWave.signupRoute {
  background-image: url("/assets/images/auth/signup-wave-2.svg");
  transition: all 1s ease-in-out;
}

.logoContainer {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 250px;
}
