.loadingSuspenseContainer {
  text-align: center;
  margin: 120px;
}

.spinner {
  background: var(--ion-color-primary);
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

.spinner.primary {
  background: var(--ion-color-primary);
}

.spinner.secondary {
  background: var(--ion-color-secondary);
}

.spinner.tertiary {
  background: var(--ion-color-tertiary);
}

.spinner.success {
  background: var(--ion-color-success);
}

.spinner.warning {
  background: var(--ion-color-warning);
}

.spinner.danger {
  background: var(--ion-color-danger);
}

.spinner.dark {
  background: var(--ion-color-dark);
}

.spinner.medium {
  background: var(--ion-color-medium);
}

.spinner.light {
  background: var(--ion-color-light);
}

.spinner.black {
  border-color: var(--ion-color-black);
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
