.notificationBadge {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--ion-color-primary);
}

.homeContainer {
  --padding-top: 30px;
  --padding-bottom: 50px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.homeContainer::part(scroll) {
  padding-top: 35px;
}

.homeSearchInput {
  position: relative;
}

.homeSearchInputCapacitor {
  margin-top: 20px;
}

.homeCarousel {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .homeContainer {
    --padding-bottom: 120px;
  }
  .homeContainer::part(scroll) {
    padding-top: 100px;
  }
}
