.fairStandsModalFetcherContent::part(scroll) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.fairStandsModalFetcherSection {
  height: 100%;
  margin-top: 0;
}

.fairStandsModalRefresh {
  padding-top: 20px;
}

.fairStandsCardSkeleton {
  margin-bottom: 20px;
}
