.logo_container {
  background-color: var(--ion-color-primary);
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container img {
  width: 100px;
}

.logo_container_compact {
  height: 150px;
}

.logo_container_compact img {
  width: 200px;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgb(255, 143, 68);
    background: radial-gradient(
      circle,
      rgba(255, 143, 68, 1) 0%,
      rgba(255, 115, 21, 1) 100%
    );
  }
  .logo_container {
    height: 180px;
  }
  .logo_container_compact {
    height: 120px;
  }
  .logo_container_compact img {
    width: 200px;
  }
  .card {
    margin: auto;
    width: 450px;
    padding: 12px;
    background-color: var(--ion-background-color);
    border-radius: var(--sanble-border-radius);
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.7); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.7); /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.7); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}
