.header::after {
  background-image: none;
}

.toolbar {
  --background: transparent;
  --padding-top: 40px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  transition: all 400ms ease-in-out;
}

.toolbar.fill {
  background: #fff !important;
  margin-top: -30px !important;
  transition: all 400ms ease-in-out;
  --padding-bottom: 10px;
}

.toolbar ion-title {
  padding: 0;
  text-align: center;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 30px;
}

.avatarImg {
  width: 10px;
  height: 40px;
}

.avatarBtn::part(native) {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 0;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.headerEndFake {
  width: 40px;
}

.content {
  --padding-start: 25px;
  --padding-end: 25px;
  --padding-bottom: 75px;
}

.content::part(background) {
  background-image: url("/public/assets/images/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tabbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.tabbarContainer svg {
  color: var(--ion-color-black);
}

.tabbar {
  width: 90%;
  border-radius: var(--sanble-border-radius);
}
