.content {
  --padding-start: 25px;
  --padding-end: 25px;
  --padding-bottom: 75px;
  --padding-top: 110px;
}

.content::part(background) {
  background-image: url("/public/assets/images/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tabbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.tabbarContainer svg {
  color: var(--ion-color-black);
}

.tabbar {
  width: 90%;
  border-radius: var(--sanble-border-radius);
}
