.mapContainer {
  height: 100%;
  z-index: 0;
}

.mapSpinner {
  z-index: 1000;
  top: 0;
}

.mapTooltipContent {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapError {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.mapError svg {
  color: var(--ion-color-primary);
}
