.card {
  width: 100px;
  height: 100px;
  border-radius: var(--sanble-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 42px;
  height: 45px;
  object-fit: contain;
  object-position: center;
}

.name {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}
