.error_formik {
  font-size: 12px;
  margin-left: 10px;
  color: var(--ion-color-danger);
}

.input_password_container {
  width: 100%;
  display: flex;
}

.input_password_icon {
  font-size: 18px;
  cursor: pointer;
  margin: auto;
  padding: 0 5px;
  transform: scale(1);
  transition: all 100ms ease-in-out;
}

.input_password_icon:hover {
  color: var(--ion-color-primary);
}

.input_password_icon:active {
  transform: scale(1.1);
  transition: all 100ms ease-in-out;
}

.input_password_icon_disabled {
  color: var(--ion-color-medium);
}
